data/Preissl/temp/
**slurm**
data/Preissl/bam
data/Preissl/cells
data/Preissl/peaks
data/Buenrostro/temp
data/Buenrostro/bam
data/Buenrostro/peaks
data/Buenrostro/fastq
data/Preissl/fastq
.DS_Store
destin/inst/annotation/encode
practice/gwas/magma/magmaOut
practice/gwas/magma/g1000_eur
