export(annotateRSE,
  createRSE,
  destinGrid,
  getDestin,
  getLogLike,
  dmultFast,
  getElbow,
  estimateNClusters,
  getDiffAccess,
  doQC,
  plotNClusters,
  plotClusterTsne
)

import(
  ChIPpeakAnno, 
  cluster,
  ClusterR,
  data.table, 
  GenomicAlignments, 
  ggplot2,
  irlba, 
  Matrix, 
  parallel, 
  rtracklayer,
  Rtsne)

